@model SaveCountryViewModel
@{
    bool isEditMode = ViewBag.IsEditMode ?? false;
  
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h3 class="lead">@ViewBag.Message </h3>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script>
        setTimeout(() => {
            window.location.href = '@Url.Action("Index", "Countries")';
        }, 2000);
    </script>


}
<div class="col-12 col-md-6 offset-md-3">
    <div class="card">

        <div class="card-header @(isEditMode ? "bg-warning" : "bg-info") text-light">
            <h5>@(isEditMode ? $"Editar - {Model.Name}" : "Agregar país")  </h5>
        </div>
        <div class="card-body">

            <form asp-controller="Countries" asp-action="@(isEditMode? "Edit" :"Add")" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"> Nombre: </label>
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="IsoCode" class="form-label"> Código ISO: </label>
                    <input class="form-control" asp-for="IsoCode"/>
                    <span asp-validation-for="IsoCode" class="text-danger"></span>
                </div>

                <div>
                    <button type="submit" class="btn btn-outline-primary float-end">@(isEditMode ? "Guardar cambios" : "Agregar país")</button>
                    <a asp-controller="Countries" asp-action="Index" class="btn btn-outline-success">Volver al listado</a>
                </div>
            </form>
        </div>
    </div>
</div>
